.nav-container{
    display: flex;
    flex-direction: column !important;
    position:sticky;
    top: 0px;
    flex-wrap: wrap;
}
.nav-contact{
    display: flex;
    justify-content: space-evenly;
    background-color:black;
    font-family: Copperplate;
    font-size:20px;
    color :White;
    flex-wrap:wrap;
}
.nav-core{
    display: flex;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.5) 35%, rgba(0,212,255,0.2) 100%);
    min-width: 100vw;
    flex-wrap: wrap;
}
.navlist{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    min-width: 60vw;
    font-size: 1.4em ;
    flex-wrap: wrap;
    
}

.link{
    margin:20px auto;
    font-family: Copperplate;
    color :white;
    text-decoration: none;
    text-decoration: none;
}
.logo{
   max-width: 10vw;
   min-width:150px;
    height: auto;
    margin-left: 1vw;
}
.socialMediaIcon{
    color :white;
    
    margin:20px;
    height: 2em;
}
.social-Icons-block{
    flex-wrap: wrap;
    align-self: center;
}
.navAndSocial{
    width:80vw;
    display:flex;
    flex-wrap: nowrap;
    justify-content:space-between;
}
.navli{
    padding:15px;
}
.navItems{
    display:flex;
    align-self:center;
}