    .nav-container{
    z-index: 1;
    display: flex;
    flex-direction: column !important;
    position:sticky;
    top: 0px;
    flex-wrap: wrap;
    box-sizing: content-box;
    width: 100vw;
}
.nav-contact{
    display: flex;
    justify-content: space-evenly;
    background-color:black;
    font-family: Copperplate;
    font-size:20px;
    color :White;
    flex-wrap:wrap;
}


.navlist{
    display: flex;
    flex-direction: row;
    list-style: none;
    text-shadow: rgb(1, 7, 10) 1px 0 10px;
    flex-wrap: wrap;
    margin:0;
}

.link{
    margin:10px ;
    font-family: Aquatico;
    color :white;
    text-decoration: none;
    font-size: 1em ;
}
.logo{
    width:70px;
    padding-left:1vw;
    padding-right: 1vw;
    align-items: center;
    border-radius: 15px;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(4, 4, 53) 99%);
}
.socialMediaIcon{
    color :white;
    margin:20px; 
}
.social-Icons-block{
    flex-wrap: wrap;
    align-self: center;
}

.navbar-burger{
    width : 40px;
    height: 40px;
    background:transparent;
    border :none;
    color:white;
    display:none;
}
.navItems{
    width : 100vw;
    display:flex;
    align-self:center;
    margin:0;
    align-items:center;
    justify-content: space-evenly;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.8) 35%, rgba(55, 202, 231, 0.5) 100%);
    flex-wrap: wrap;
}
.link:hover{
    cursor:pointer;
    color:rgb(28, 240, 255);
}
@media screen and (max-width:800px) {
    .nav-contact{
        visibility:hidden;
    }
    .navItems{
        flex-direction: column;
        justify-content:center;
        align-items:center;
        position:fixed;
        right:-100vw;
        bottom:0;
        height: 100vh;
        padding:2rem;
        background-color:midnightblue;
        transition: all 0.8s ease-out;
    }
    .show-nav .navItems{
        right:0;
    }
    .link{
        display:block;
        padding:2rem;
        font-size: 4vw;
    }
    .navbar-burger{
       display:block;
       position:fixed;
       top:0.2rem;
       right:0.7rem;
       margin-right: 1rem;
    }
    .navbar-burger:hover{
        cursor: pointer;
    }
    .burger-bar,
    .burger-bar::before,
    .burger-bar::after{
        display:block;
        width:40px;
        height:3px;
        position:relative;
        border-radius: 4px;
        background-color:rgb(139, 142, 146);
        transition: all .5s ease-in-out
    }
    .burger-bar::before,
    .burger-bar::after{
        content:'';
        position:absolute;
        left:0;
    }
    .burger-bar::before{
        transform:translateY(-12px);
    }
    .burger-bar::after{
        transform:translateY(12px);
    }
    .show-nav .burger-bar::before{
       transform: rotate(45deg);
    }
    .show-nav .burger-bar:after{
        transform: rotate(-45deg);
    }

    /* link animation */

    .show-nav .burger-bar{
        width:0;
        background:transparent;
    }
    .link::after{
        content:'';
        display: block;
        margin:0 auto;
        width:3vw;
        height:2px;
        background:rgb(250, 250, 250)
    }
    .link{
        transform: translateY(100vh);
    } 
     .show-nav .link{
        transform: translateY(0vh);
    } 
     .show-nav .slideInDown{
         transition: all 1s ease-out;
    }
}