.services-container{
    color:rgb(13,5,81);
    font-family:Copperplate;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.first-comment{
    width:65%;
    text-align:justify;
    font-size:1.5rem;
}
.services-main-title{
    font-size: 3rem;
    font-family: Aquatico;
}
.services-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}
.service-subtitle{
    box-sizing: content-box;
    min-width: 30vw;
    max-width:50vw;
    margin: 30px;
    border:3px solid rgb(21, 1, 107);
    padding:1.5em;
    vertical-align:middle;
    text-align: center;
}
.services-section-1st{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}
.list-item{
    font-size :1.5em;
}
.illustration{
    width :100vw;
    height:200px;
    opacity :0.25.
}