.basic-container{
    width:100vw;
    Display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.basic{
    display:flex;
    flex-direction: column;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 20px 50px #c3cbdb;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; 
    margin-bottom:35px;
    max-width:500px;
   
}
.basic:hover{
    -webkit-transform: translate(20px, -10px);
    -ms-transform: translate(10px, -10px);
    transform: translate(10px, -10px);
    -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}
.basic>*{
    padding-top:0px;
    font-size: 1.4rem;
    line-height: 1.4;
}
.section-offres{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: center;
    /* justify-content: space-between; */
    min-width:300px;
    
}
.basic>h2 {
    text-decoration: underline overline rgb(1,1,87);
}
.Tarifs-container{
    width: 100vw;
    color:rgb(1, 1, 87);
    font-family:Copperplate;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    background: linear-gradient( 109.6deg,  rgba(38, 165, 165, 0.8) 11.2%, rgba(1, 8, 77, 0.8) 92.5% );
}
.Tarifs-title{
    font-size: 3rem;
    color: white;
    text-shadow: rgb(2, 4, 110) 1px 0 10px;
    text-align: center;
}
.second-comment{
    color: white;
}
.tarif-description{
    min-height:283px;
    padding: 0 10px;
}