@font-face {
    font-family: Aquatico;
    src: url("./components/assets/font/Aquatico-Regular.ttf");
  }
  @font-face {
    font-family: Copperplate;
    src: url("./components/assets/font/Copperplate.ttf");
  }
body{
    padding:0 ;
    Margin:0 ;
    width:100vw;
}
.landingView{
  background-image:url(./components/assets/images/voilier.jpg) ;
  background-size:100vw 100vh;
  background-repeat:no-repeat;
  z-index: -1;
  height:100vh;
}
